<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated relationalMetaModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="relationalMetaModel.presentation.RelationalMetaModelModelWizardID"
            name="%_UI_RelationalMetaModelModelWizard_label"
            class="relationalMetaModel.presentation.RelationalMetaModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RelationalMetaModelModelFile.gif">
         <description>%_UI_RelationalMetaModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated relationalMetaModel -->
      <editor
            id="relationalMetaModel.presentation.RelationalMetaModelEditorID"
            name="%_UI_RelationalMetaModelEditor_label"
            icon="icons/full/obj16/RelationalMetaModelModelFile.gif"
            extensions="relationalmetamodel"
            class="relationalMetaModel.presentation.RelationalMetaModelEditor"
            contributorClass="relationalMetaModel.presentation.RelationalMetaModelActionBarContributor">
      </editor>
   </extension>

</plugin>
